.card {
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    flex: 1;
    min-width: 200px;
    margin: 10px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
}
  
  .card:hover{
    background: rgb(66,54,204);
    background: linear-gradient(80deg, rgba(66,54,204,1) 18%, rgba(163,22,227,1) 73%, rgba(227,105,243,1) 100%, rgba(108,120,246,1) 100%);
  }
  .card-icon {
    margin-bottom: 10px;
  }
  
  .card-icon img {
    width: 60px;
    height: 60px;
    margin-right: 15em;
  }
  
  .card h3 {
    font-size: 1.2rem;
    color: #333;
    margin-top: 11em;
    
  }

  .card:hover h3 {
    color: white;
  }




